@import "tailwindcss";
@plugin "daisyui";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary: #fefefe;
  --secondary: #2b2430;
  --secondary-light: #c2c1c1;
  --accent: #6f7f63;
  --accent-light: #dde5d6;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
}

  body {
    /* background: var(--background);
    color: var(--foreground); */
    font-family: var(--font-body);
  }
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    font-family: var(--font-heading);
  }
